/* red 1: A0252A */
/* red 2, darkest: 601619 */
/* red 3, lightest: EC373E */
/* red 4, medium: AD282D */
/* red 5, darker: 861F23 */

.big_circle_content {
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
/* colors */
h1, h2, h3, h4, h5, h6 {
	color: #333;
}
.dark_gray {
	color: #333;
}

.white_bg {
	background-color: #fff;
}
.dark-red_bg { background: #861F23; }
.red_bg, .red_bg:visited, .red_bg:focus, .red_bg:hover { background: #A0252A; }

/* buttons */
.button_style {
	font-weight: 700;
}

.pix_contents {
	float: left;
	background: none;
}

h4 {
	font-weight: 700;
}
.small_text,
.normal_text {
	font-weight: 300;
}
h2.big_title {
	margin-bottom: 80px;
}
h3.big_title {
	font-weight: 700;
	font-size: 36px;
}

/* Navbar */
	.pix_nav_logo {
		padding-top: 10px;
		height: 3.2em !important;
	}
	.navbar-lg .navbar-nav > li > a {
	    padding-top: 30px;
	    padding-bottom: 17px;
		font-weight: 400;
	}

/* Header */
	.creative_video_header .section_wrapper {
		background: rgba(0,0,0,0.3);
		padding: 120px 0;
	}
	.pixfort_normal_1 .title_style {
		font-weight: 400;
		padding-top: 80px;
	}
	.pixfort_normal_1 .subtitle_style {
		font-weight: 300;
		padding-top: 80px;
		padding-bottom: 60px;
		color: #eee;
	}
	.pixfort_normal_1 .subtitle_style strong {
		font-weight: 400;
	}
	
/* Que Hacemos */
	.big_circle_content {
		color: #AD282D;
	}
	.big_circle::after {
		border-color: #861F23;
		opacity: .3;
	}
	.big_circle {
		width: 130px;
		margin-bottom: 0;
	}

/* Servicios*/
	#servicios,
	#servicios > * {
		position: relative;
	}
	#servicios {
		background-image: url('../../images/main/servicios.jpeg');
		background-size: cover;
		background-attachment: fixed;
	}
	#servicios:before {
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(0,0,0,.4);
	}
	.servicios_section.white_bg {
		background-color: transparent;
	}
	.servicios_section.white_bg,
	.servicios_section.white_bg > * {
		position: relative;
	}
	.servicios_section.white_bg:before {
		content: ' ';
		position: absolute;
		left: -30px;
		top: 0;
		width: calc(100% + 60px);
		height: 100%;

		border-radius: 3px;
		background-color: rgba(255,255,255,.87);
		box-shadow: 0 8px 14px rgba(0,0,0,0.3), 0 10px 10px rgba(0,0,0,0.27);
	}
	.servicios_section:first-of-type {
		margin-bottom: 120px;
	}
	.servicios_section .pix_contents .content_div h4 {
		line-height: 1.5;
	}
	.servicios_section p {
		font-weight: 300;
		width: 90%;
		margin: 1em auto;
	}
	.servicios_section .pi {
		font-size: 4em;
		line-height: 1.5;
	}
	.servicios_section .button_style {
		margin-bottom: 1em;
	}

/* Como lo hacemos*/
	#como-lo-hacemos {}
	#como-lo-hacemos .row:nth-of-type(2) {
		/*text-align: right;*/
	}
	#como-lo-hacemos .nine {
		width: 510px;
	}
	#como-lo-hacemos .alpha,
	#como-lo-hacemos .omega {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	#como-lo-hacemos .content_div {
	}

/* Clients */
	#clientes {
		/*min-height: 100vh;*/
		padding: 500px 0 0;
		background-image: url('../../images/main/clientes.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
	}
	#clientes .big_title {
		margin-bottom: 30px;
	}
	.client-logo {
		position: relative;
		height: 120px;

		border-bottom: 2px solid transparent;
		transition: border-bottom .3s ease-in-out;
	}
	.client-logo:hover {
		/*border-bottom: 2px solid #EC373E;*/
	}
	.client-logo img {
		max-width: 70%;
		max-height: 50%;
		margin: 0 auto;
		display: block;

		position: relative;
		top: 50%;
		transform: translateY(-50%);

		filter: grayscale(100%) contrast(0%) brightness(100%);
		transition: filter .3s ease-in-out;
	}
	.client-logo:hover img {
		filter: none;
	}
	#clientes .button_style {
		margin-top: 2em;
		color: #fff;
	}

/* Contacto */
	#contacto .ten {
		float: right;
	}

/* Footer */
	.pix_footer_logo {
		margin-bottom: 20px;
		width: 250px;
	}
	.footer3 .small_text > span {
		display: block;
	}
	.footer3 .small_text a {
		color: inherit;
	}


/* SUBPAGES */
	.service-description .container {
		margin-top: 60px;
		margin-bottom: 60px;
		min-height: 9em;
	}
	.service-description .container .sixteen {
		position: relative;
		z-index: 999;
	}
	.service-description .container .big_text {
		color: #A0252A;
	}
	.service-description .ten {
		padding-left: 2em;
		min-height: 9em;
		border-left: 2px solid #A0252A;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.service-description .pi {
		position: absolute;
		font-size: 7em;
		color: #ddd;
		bottom: 0;
		left: -.25em;
		z-index: 0;
	}
	.service-cta {
		padding-bottom: 60px;
	}
	aside.services-list ul {
		margin-bottom: 0;
	}
	aside.services-list li {
		line-height: 2;
		width: 35%;
		margin: 0 2%;
		display: inline-block;
		vertical-align: top;
	}
	aside.services-list .pi {
		display: block;
		text-align: center;
		font-size: 2em;
		text-decoration: none;
	}
	aside.services-list a {
		color: #A0252A;
		text-decoration: none;

	}
	.clients-page header.pix_builder_bg,
	.service-page header.pix_builder_bg {
		padding-top: 120px;
	}

@media only screen and (min-width: 768px) {
	.pixfort_normal_1 .title_style,
	.pixfort_normal_1 .subtitle_style {
		padding-top: 176px;
	}	
	#que-hacemos .big_circle {
		margin-left: auto;
	}
}
@media only screen and (min-width: 960px) {
	#como-lo-hacemos .alpha,
	#como-lo-hacemos .omega {
		vertical-align: middle;
	}
}
@media only screen and (max-width: 767px) {
	.big_circle {
		margin-bottom: 20px;
	}
	#que-hacemos .three,
	#como-lo-hacemos .three {
		width: 130px;
	}
	#que-hacemos .five,
	#como-lo-hacemos .nine {
		width: 270px;
		margin-bottom: 30px;
	}
	.service-page .service-description .container {
		padding-top: 5em;
	}
	.service-description .pi {
		font-size: 5em;
		left: 0;
		top: -.2em;
	}
	.service-description .right_text {
		text-align: left;
	}
	.service-description .ten {
		padding-top: 1em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#como-lo-hacemos .three {
		width: 130px;
	}
	#como-lo-hacemos .nine {
		width: 396px;
		margin-bottom: 30px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#que-hacemos .five,
	#como-lo-hacemos .nine {
		margin-left: 15px;
	}
}